{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Channels</title>
{% endblock %}

{% block body %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Channels</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-around">
                {% for channel in channelList %}
                <div class="channel-card bg-dark mb-3" style="max-width: 20rem;">
                    <div class="channel-card-header">
                        <a href="/channel/{{channel.id}}/">
                            <img class="shadow lazy" height="180" width="320" src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';"></a>
                    </div>
                    <div class="channel-card-body">
                        <i class="fas fa-podcast mr-2"></i><span class="video-title"><a href="/channel/{{channel.id}}/"><b> {{channel.channelName}}</b></a></span>
                        <span class="float-right">
                            {% if channel.stream|length > 0 %}
                            <span class="badge badge-danger">Live</span>
                            {% else %}
                            <span class="badge badge-secondary">Offline</span>
                            {% endif %}
                        </span><br />
                        <i class="fas fa-user mr-2"></i><a href="/streamers/{{channel.owningUser}}"> {{channel.owningUser|get_userName}}</a>
                        {% if channel.protected %}<span class="float-right"><span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}</span><br />
                        <i class="fas fa-hashtag mr-2"></i> <a href="/topic/{{channel.topic}}/">{{channel.topic|get_topicName}}</a>
                        <span class="float-right">
                            <i class="fas fa-users mr-2"></i> {{channel.views}}
                            <i class="fas fa-star mx-2"></i> {{channel.subscriptions|length}}
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}